.center {
    text-align: center;
}

.aaron {
    width: 10% !important;
}

.time {
    background-color: #385a3a;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    padding-bottom: 5px;
    text-align: center;
}
