* {
    scrollbar-color: #7253ed #ffffff;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4.5px;
}

::-webkit-scrollbar-thumb {
    background: #7253ed;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #ffacff;
}

.center {
    text-align: center;
}

.aaron {
    width: 10% !important;
}

.time {
    background-color: #385a3a;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    padding-bottom: 5px;
    text-align: center;
}

.bold {
    font-weight: bold;
    font-size: 16px;
}

.post-year {
    .post-year-icon {
        img {
            margin-bottom: -5px;
            margin-right: 10px;
            width: 30px;
        }
    }
}

.post-border {
  display: flex;
  align-items: center;
  padding: 5px;

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    opacity: 0.4;
  }

  img {
    width: 20px;
    margin: 0 10px;
  }
}

.future-post {
  position: relative;
}

.future-post .symbol {
  position: absolute;
  left: -20px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translateY(-50%);
}
