.frag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.center {
    text-align: center;
  }

  .image-wrapper {
    padding: 20px;

    img {
      border: 3px solid;
      max-width: 100%;
      display: block;
      padding: 8px;
    }
  }

  figcaption {
    text-align: center;
    text-decoration: 2px underline;
    font-style: italic;
    width: 100%;
    margin-top: 15px;
  }
}

@media (min-width: 310px) {
  .frag {
    .image-wrapper {
      padding: 15px;
      margin-bottom: -20px;
    }
  }
}
