.update-page {
  max-width: $max-width;
  margin: 0 auto;
  font-family: "Spectral", "Andika", Arial, sans-serif;
  color: $primary-color;

  .grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 10px;

    @media (max-width: $med-width) {
      grid-template-columns: 1fr;
    }

    .card {
      border-radius: 12px;
      padding: 20px;
      transition: transform 0.3s ease;

      h3 {
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
      }

      #repo-name,
      #commit-date,
      #commit-time,
      #commit-sha {
        background-color: #313396;
        padding: 2px 5px;
        border-radius: 5px;
        line-height: 2;
        font-family: "Cascadia Code";
        color: #fff;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      .book-header {
        font-family: "Andika";
        display: flex;
        gap: 10px;
        align-items: flex-start;

        .cover {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        .details {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        .book-title {
          background: #a4c8b5;
          padding: 10px;
          border-radius: 5px;
          font-family: "Spectral";
        }

        .book-author {
          font-family: "Labrada";
          font-weight: bold;
          padding: 10px;
          background: #c9ddcc;
          border-radius: 5px;
        }

        #book-time {
          background: #d1d1fd;
          border-radius: 5px;
          padding: 10px;
          font-size: 11px;
          font-weight: bold;
        }

        #book-pages {
          text-align: center;
          font-size: 11px;
        }

        img {
          border-radius: 10px;
        }

        .book-progress {
          background-color: #e5e5e5;
          border-radius: 6px;
          overflow: hidden;

          .progress-bar {
            background-color: $blue;
            font-weight: bold;
          }
        }
      }

      .instagram-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

        img {
          border-radius: 10px;
          height: 100px;
          width: 100px;
        }
      }
    }
  }

  .wakatime {
    margin-top: 40px;

    canvas {
      max-width: 100%;
      height: auto;
    }

    h3 {
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
      color: inherit;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  .pocket {
     .content-item {
        margin-top: 10px;

        a {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            text-decoration: none;

            img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
            }
        }

        p {
            margin-top: 5px;
        }

        .excerpt {
          font-family: "Andika";
          font-style: normal;
        }
      }
    }
  .bloggo {
    .word {
      padding: 18px;
      background: #ffd1e9;
      border-radius: 10px;
      text-align: center;
      font-family: "Labrada";
    }
  }
  .goodquotes {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 100%;
      border-radius: 10px;
    }

    .quote-text {
      background: #d5d6eb;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

