.update-page {
  max-width: $max-width;
  margin: 0 auto;
  font-family: 'Spectral', 'Andika', Arial, sans-serif;
  color: $primary-color;

  .grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin-bottom: 10px;

    @media (max-width: $med-width) {
      grid-template-columns: 1fr;
    }

    .card {
      border-radius: 12px;
      padding: 20px;
      transition: transform 0.3s ease;

      h3 {
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      #repo-name,
      #commit-date,
      #commit-time,
      #commit-sha {
        background-color: #313396;
        padding: 2px 5px;
        border-radius: 5px;
        line-height: 2;
        font-family: "Cascadia Code";
        color: #fff;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      .book-progress {
        height: 12px;
        background-color: #e5e5e5;
        border-radius: 6px;
        overflow: hidden;

        .progress-bar {
          height: 80%;
          background-color: $blue;
        }
      }
    }
  }
}
