$accent: #FF0F00;
$max-width: 650px;
$med-width: 600px;
$small-width: 480px;

$primary-color: #333;
$secondary-color: #888;

$blue: #76e5ff;
$blue-background: #e3ffef;

$green: #2ecc71;
$green-background: #e3ffef;

$purple: #9b59b6;
$purple-background: #f6e0ff;

$orange: #e67e22;
$orange-background: #ffeee0;

$pink: #e84393;
$pink-background: #ffe8f3;

$yellow: #cdb118;
$yellow-background: #ffeca1;
