<script>
async function fetchLatestCommit() {
    try {
        const response = await fetch('https://api.github.com/users/CodeDotJS/events/public');
        const events = await response.json();

        if (events.length > 0) {
            const latestEvent = events.find(event => event.type === 'PushEvent');
            if (latestEvent) {
                const base = 'https://github.com/';

                const repoName = latestEvent.repo.name;
                const commitMessage = latestEvent.payload.commits[0].message;
                const commit = latestEvent.payload.commits[0].sha;
                const commitSha = latestEvent.payload.commits[0].sha.substring(0, 7);

                const repository = `${base}${repoName}`;
                const commitURL = `${repository}/commit/${commit}`;

                const commitDate = new Date(latestEvent.created_at);
                const formattedDate = commitDate.toISOString().split('T')[0];
                const formattedTime = commitDate.toTimeString().split(' ')[0];

                document.getElementById('github-info').innerHTML = `Pushed the last commit <span id="commit-sha"><a href="${commitURL}">${commitSha}</a></span> to <span id="repo-name"><a href="${repository}">${repoName}</a></span> on <span id="commit-date">${formattedDate}</span> at <span id="commit-time">${formattedTime}</span> with the commit message - <br><blockquote><span id="commit-message">${commitMessage}</span></blockquote>`;
            } else {
                document.getElementById('github-info').innerText = 'No recent push events found.';
            }
        } else {
            document.getElementById('github-info').innerText = 'No recent events found.';
        }
    } catch (error) {
        console.error('Error fetching latest commit:', error);
        document.getElementById('github-info').innerText = 'Error loading commit information';
    }
}

fetchLatestCommit();
</script>
