---
layout: default
---

{{ content }}

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign has_post = false %}

{% for year in posts_by_year %}
    <h2 class="post-year"> <span class="post-year-icon"><img src="{{site.baseurl}}/assets/images/telescope.svg" alt=""></span>{{ year.name }}</h2>
    <ul>
    {% for post in year.items %}
        {% if post.private == true %}
            {% continue %}
        {% endif %}
        <li class="post-card">
            <a class="title" href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
            <div class="details">
                <b>{{ post.date | date: "%d %b" }}</b>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div class="post-border">
        <div class="line"></div>
        <img src="{{site.baseurl}}/assets/images/connections.svg" alt="">
        <div class="line"></div>
    </div>
    {% assign has_post = true %}
{% endfor %}

{% if has_post == false %}
    <div class="no-post">I've lost the ink pot. Check back later...</div>
{% endif %}
