---
layout: default
---

{{content}}

{% include commit.html %}
{% include spotify.html %}
{% include goodreads.html %}
{% include instagram.html %}
{% include wakatime.html %}
{% include pocket.html %}
{% include words.html %}
{% include quote.html %}

<div class="update-page">
    <div class="grid-row">
        <div class="card card-blue">
            <h3>Most Recent Commit</h3>
            <p id="github-info">Loading...</p>
        </div>
        <div class="card card-green">
            <h3>Recently Played</h3>
            <div class="spotify-recently-played">
                <div class="song-info">
                    <div class="music-cover">
                        <img class="song-cover" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="">
                    </div>
                    <div class="music-info">
                        <span class="song-name">Loading...</span>
                        <span class="artist-name"></span>
                        <span class="played-at"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="card card-pink">
            <h3>Book I'm Reading</h3>
            <div class="book-header">
                <div class="cover">
                    <img id="book-cover" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="Book Cover">
                    <span id="book-pages"></span>
                    <div class="book-progress">
                        <div class="progress-bar" style="width: 0%; text-align: center;"></div>
                    </div>
                </div>
                <div class="details">
                    <span id="book-title" class="book-title"></span>
                    <span id="book-author" class="book-author"></span>
                    <span id="book-time"></span>
                </div>
            </div>
        </div>
        <div class="card card-yellow">
            <h3>Doodlings I Did</h3>
            <div class="instagram-container">
                <img id="image-1" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="Image 1">
                <img id="image-2" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="Image 2">
                <img id="image-3" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="Image 3">
                <img id="image-4" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="Image 4">
            </div>
        </div>
    </div>
    <div class="grid-row pocket">
        <div class="card card-blue">
            <h3>Article I Liked</h3>
            <div class="content-item">
                <a id="article-link">
                    <img src="https://www.svgrepo.com/show/530146/read.svg" alt="Article Icon">
                    <span id="article-title"><img src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt=""></span>
                </a>
                <blockquote class="excerpt" id="article-excerpt"></blockquote>
            </div>
        </div>
        <div class="card card-green">
            <h3>Video I Enjoyed</h3>
            <div class="content-item">
                <a id="video-link">
                    <img src="https://www.svgrepo.com/show/503860/video-center.svg" alt="Video Icon">
                    <span id="video-title"><img src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt=""></span>
                </a>
                <blockquote class="excerpt" id="video-excerpt"></blockquote>
            </div>
        </div>
    </div>
    <div class="grid-row bloggo">
        <div class="card card-blue">
            <h3>Writing Stats</h3>
            <div class="word">
                <i class="fa fa-pen"></i> &nbsp; <span class="highlight-blue"><span id="wordcount"></span> words</span> written combined of <span class="highlight-blue"><span id="blogcount"></span> blog posts</span>, averaging <span class="highlight-blue"><span id="averagewordcount"></span> words</span> per post.
            </div>
        </div>
        <div class="card card-green">
            <h3>Quote I Liked</h3>
            <div class="goodquotes">
                <!-- <div class="quote-image"> -->
                    <!-- <img id="author-image" src="" alt="Author Image"> -->
                <!-- </div> -->
                <div class="quote-content">
                    <p id="quote-text" class="quote-text"></p>
                    <span id="quote-author" class="quote-author highlight-red"></span> •
                    <span id="quote-book-title" class="quote-book-title highlight-blue"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="wakatime">
        <h3>Coding Activity</h3>
        <canvas id="codingChart"></canvas>
    </div>
</div>
