---
layout: default
---
{{content}}


{% include commit.html %}

<div class="update-page">
    <div class="grid-row">
        <div class="card card-blue">
            <h3>Most Recent Commit</h3>
            <p id="github-info">Loading...</p>
        </div>
        <div class="card card-green">
            <h3>Last Song Played</h3>
            <div class="song-header">
                <span class="song-name">Watermelon Sugar</span>
                <span class="played-at">2024-05-18 10:00 AM</span>
            </div>
            <div class="song-info">
                <span class="artist-name">Harry Styles</span>
                <span class="album-name">Fine Line</span>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="card card-pink">
            <h3>Book I'm Reading</h3>
            <div class="book-header">
                <span class="book-title">The Midnight Library</span>
                <span class="book-author">Matt Haig</span>
            </div>
            <div class="book-progress">
                <div class="progress-bar" style="width: 75%;"></div>
            </div>
        </div>
        <div class="card card-yellow">
            <h3>Dummy Section</h3>
            <p>This is a dummy section for layout purposes.</p>
        </div>
    </div>
</div>
