---
layout: default
---
{{content}}
{% include commit.html %}
{% include spotify.html %}
<div class="update-page">
    <div class="grid-row">
        <div class="card card-blue">
            <h3>Most Recent Commit</h3>
            <p id="github-info">Loading...</p>
        </div>
        <div class="card card-green">
            <h3>Recently Played</h3>
            <div class="spotify-recently-played">
                <div class="song-info">
                    <div class="music-cover">
                        <img class="song-cover" src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/svg-smil/pulse-rings-3.svg" alt="">
                    </div>
                    <div class="music-info">
                        <span class="song-name">Loading...</span>
                        <span class="artist-name"></span>
                        <span class="played-at"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="card card-pink">
            <h3>Book I'm Reading</h3>
            <div class="book-header">
                <span class="book-title">Mortality</span>
                <span class="book-author">Christopher Hitchens</span>
                <p>PULL DATA FROM PLAY BOOKS</p>
            </div>
            <div class="book-progress">
                <div class="progress-bar" style="width: 75%;"></div>
            </div>
        </div>
        <div class="card card-yellow">
            <h3>No Context</h3>
            <p>Feel free to check it out, no worries if not</p>
            <p>PULL DATA FROM SOME YML FILE</p>
        </div>
    </div>
</div>
